<!-- Download Section -->
<section id="download" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="">
        <h2>Projects</h2>
        <p>
          We are investing through machine learning and pattern matching<br />in
          the stock market and cryptocurrency market.
        </p>
      </div>

      <div class="card-deck row" style="margin-bottom: 60px">
        <div class="card col-md-4">
          <div class="col-md-12">
            <a
              href="http://www.ratestbed.kr/portal/pblntf/viewAcnutDetailComop.do?menuNo=200238&acnutSn=898&invtTyCd=03&odrSn=11&hbrdAssetsAt=00&searchAt=Y&targetSe=T"
              target="_blank"
            >
              <img src="img/ra.png" class="card-img-top" width="340px" />
              <div class="card-body">
                <h5 class="card-title">Robo Advisor (RedRatel R001)</h5>
                <p class="card-text">
                  LostTechne's first robo-advisor.<br />Buy/sell ETF stocks by
                  predicting gains and losses through machine learning. Apply
                  portfolio theory to distribute and manage risk.
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="card col-md-4">
          <div class="col-md-12">
            <a
              href="https://play.google.com/store/apps/details?id=com.redratel.bitratel"
              target="_blank"
            >
              <img
                src="img/bitratel-w.png"
                class="card-img-top"
                width="340px"
              />
              <div class="card-body">
                <h5 class="card-title">BitRatel</h5>
                <p class="card-text">
                  Cryptocurrency algorithm trading platform.<br />Traders can
                  design and operate algorithms, and customers can use them to
                  do automatic trading.
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="card col-md-4">
          <div class="col-md-12">
            <a href="javascript:;" style="cursor: default">
              <img
                src="img/ar-arbitrage.png"
                class="card-img-top"
                width="340px"
              />
              <div class="card-body">
                <h5 class="card-title">AR Arbitrage</h5>
                <p class="card-text">
                  It is a platform for arbitrage trading by capturing price
                  imbalances between cryptocurrency exchanges in real time.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <hr />

      <div class="" style="margin-top: 80px">
        <h2>Certificates</h2>
        <img src="img/cert_mark.jpg" class="card-img-top" width="340px" />
        <p>
          Korea Financial Services Commission completed<br />Robo Advisor
          management review
        </p>
      </div>

      <br />
    </div>
  </div>
</section>
